@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(https://images.unsplash.com/photo-1429704658776-3d38c9990511?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcxMjE4MDg1OA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
    background-size: cover;
}


.box-central {
    background-color: rgba(0, 0, 0, 0.616);
    color: aliceblue;
    height: 350px;
    width: 450px;

    border-radius: 25px;
    padding: 20px;
}

.local {
    background-color: rgba(0, 0, 0, 0.397);
    color: aliceblue;
    outline: none;
    border: none;
    height: 40px;
    width: calc(100% - 50px);

    padding: 20px;

    border-radius: 15px;
    font-size: large;

}

::placeholder {
    color: rgba(240, 248, 255, 0.445);
}


.pesquisa {
    background-color: rgba(0, 0, 0, 0.397);
    color: aliceblue;
    outline: none;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    top: 3px;

    border-radius: 50%;
}

.pesquisa:hover{
    background-color: rgba(0, 0, 0, 0.644);
    transition: 0.3s;
}

.material-symbols-outlined {
    height: 20px;

    color: aliceblue;
}

.box-top {
    margin: 25px 10px 10px 10px;
}

.cidade {
    font-size: 2.5em;
    font-weight: 400;

}

.temp {
    margin-top: 10px;
    font-size: 1.2em;
}

.sensacao{
    margin-top: 5px;
}

.box-bot {
    
    display: flex;
    align-items: center;
    
}

.img-icon {
    height: 55px;

}

.text-prev{
    margin-left: 15px;
    text-transform: capitalize;/*COLOCA AS PRIMEIRAS LETRAS EM MAIUSCULO*/
}
.minmax{
    margin-left: 10px;
}
.umidade{
    margin-top: 5px;
    margin-left: 10px;
}